* {
  font-family: Arial, sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.grid-header {
  font-size: 1.25rem;
}

.canvas-element-scale-wrapper {
  display: flex;
}

#grid-canvas-element {
  image-rendering: pixelated;
  transform: scale(15, 15);
  outline: 0.5px solid;
}

/* controls */
.controls-container {
  gap: 10px;
  position: absolute;
  bottom: 40px;
  display: flex;
}

#save-button {
  background-color: whitesmoke;
  background-image: url(./save-icon.png);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  width: 45px;
  gap: 10px;
  border: 2px solid rgb(220, 220, 220);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 9999px;
}
#save-button:hover {
  transform: rotate(10deg);
}

#colors-palette {
  display: flex;
  background-color: whitesmoke;
  border-radius: 9999px;
  padding: 10px 15px;
  gap: 10px;
  border: 2px solid rgb(220, 220, 220);
}
.control-option {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 999px;
  cursor: pointer;
}
.control-option.selected {
  border: 2px solid rgb(60, 60, 60);
}
.control-option.selected:hover {
  border: 2px solid rgb(60, 60, 60);
}
.control-option:hover {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(160, 160, 160);
  border-radius: 999px;
}
